.addUser .form input{
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 10%;
}
.addUser .form textarea{
     width: 500px;
     border: 1px solid black;
    border-radius: 7px;
    margin-left: 10%;
}
.addUser{
    background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: 0;
    padding-top: 20px;
    
}

.addUser .form button{
    width: 100px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 5px;
}
.addUser .form button:hover{
    color: black;
    background-color: crimson;
}
.addUser .form{
    padding-top: 40px;
    margin-left: -10%;
}